.main {
  margin-bottom: 16px;
  padding: 16px;
  /*background-color: $colorSilver;*/
  color: $colorDarkGreenBlue;
}
.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 16px;
}

.favCocktail {
  list-style: none;
}
